@model EvokeWebApi.Models.PlayersTbl

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlayersTbl</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Countryorigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Countryorigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skilled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skilled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Achievement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Achievement)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
