@model IEnumerable<CustomerAdmin.Models.Customer>

@{
    ViewData["Title"] = "Index1";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanStartedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Principle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateOfInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalculateAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanStartedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Principle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RateOfInterest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalculateAmount)
                </td>
                      <td>
            <a asp-action="Edit" asp-route-id="@item.CustomerName">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.CustomerName">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.CustomerName">Delete</a>
            </td>
            </tr>
        }
    </tbody>
</table>
